@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  button {
    @apply px-6 py-2.5 rounded-full relative;
    --filled: theme(colors.blue.700);
    --tonal: theme(colors.blue.200);
    --outline: theme(colors.gray.400);
  }
  button:disabled {
    @apply grayscale opacity-50 pointer-events-none;
  }

  .icon {
    @apply px-2 py-2;
  }

  .filled {
    @apply bg-[--filled] text-white transition-[filter];
  }
  .filled:hover {
    @apply drop-shadow-md brightness-110;
  }
  .filled:active {
    @apply drop-shadow-none brightness-125;
  }

  .tonal {
    @apply bg-[--tonal] text-black transition-[filter];
  }
  .tonal:hover {
    @apply drop-shadow-md brightness-95;
  }
  .tonal:active {
    @apply drop-shadow-none brightness-90;
  }

  .outlined {
    @apply border-2 border-[--outline] text-[--filled] transition-[background-color,filter];
  }
  .outlined:hover {
    @apply bg-[--tonal];
  }
  .outlined:active {
    @apply brightness-90;
  }

  .text::before {
    @apply content-[""] absolute opacity-0 scale-0 bottom-0 left-0 right-0 top-0 bg-black/50 rounded-full transition-[transform,opacity] duration-200;
  }
  .text:hover::before {
    @apply scale-100 opacity-5;
  }
  .text:active::before {
    @apply opacity-10;
  }
}
